In [2]:
import pandas as pd
import numpy as np

# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [4]:
# Seu código aqui

dados_nasa = {
    1900: -0.08,
    1920: -0.27,
    1940: 0.12,
    1960: -0.03,
    1980: 0.26,
    2000: 0.40,
    2020: 1.02
    
}

serie_termica = pd.Series(dados_nasa)

print(serie_termica)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:
# seu código aqui
serie_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_dic_temperaturas = pd.Series(dic_temperaturas)
print(serie_dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [8]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

df = pd.DataFrame(arr)

print(df)

             0           1           2
0    92.942342  109.300773   99.733014
1    96.759260   91.889927  103.564747
2   123.944609   93.102163  110.529250
3   103.097141   99.789682   96.752095
4    92.564058   89.820197  115.140236
5   107.255630   98.028178   83.298596
6    91.146851  106.592845  104.839653
7   104.882981  112.606912  102.515043
8   114.139924  108.557182   91.340076
9    97.930496  118.775704   91.557557
10   68.893142  116.751942  103.785980
11  107.585965  128.538586   98.539604
12   80.092469   91.614187   88.703753
13  108.852085  112.371743  103.917085
14   89.017664  100.697511  110.314717
15   98.759411   98.554793  112.153905
16  109.820016  104.203461  127.353990
17  110.441644  102.415017  102.791498
18   96.062281   99.979383  103.975076
19  104.870794   89.290508   87.361098

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [9]:
#seu código aqui

df = pd.DataFrame(arr, index=range(1,21), columns=["x1", "x2", "x3"])

print(df)

            x1          x2          x3
1    92.942342  109.300773   99.733014
2    96.759260   91.889927  103.564747
3   123.944609   93.102163  110.529250
4   103.097141   99.789682   96.752095
5    92.564058   89.820197  115.140236
6   107.255630   98.028178   83.298596
7    91.146851  106.592845  104.839653
8   104.882981  112.606912  102.515043
9   114.139924  108.557182   91.340076
10   97.930496  118.775704   91.557557
11   68.893142  116.751942  103.785980
12  107.585965  128.538586   98.539604
13   80.092469   91.614187   88.703753
14  108.852085  112.371743  103.917085
15   89.017664  100.697511  110.314717
16   98.759411   98.554793  112.153905
17  109.820016  104.203461  127.353990
18  110.441644  102.415017  102.791498
19   96.062281   99.979383  103.975076
20  104.870794   89.290508   87.361098

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [10]:
# seu código aqui

df['media'] = df.mean(axis=1)

print(df)

            x1          x2          x3       media
1    92.942342  109.300773   99.733014  100.658710
2    96.759260   91.889927  103.564747   97.404645
3   123.944609   93.102163  110.529250  109.192007
4   103.097141   99.789682   96.752095   99.879640
5    92.564058   89.820197  115.140236   99.174830
6   107.255630   98.028178   83.298596   96.194135
7    91.146851  106.592845  104.839653  100.859783
8   104.882981  112.606912  102.515043  106.668312
9   114.139924  108.557182   91.340076  104.679061
10   97.930496  118.775704   91.557557  102.754586
11   68.893142  116.751942  103.785980   96.477021
12  107.585965  128.538586   98.539604  111.554718
13   80.092469   91.614187   88.703753   86.803469
14  108.852085  112.371743  103.917085  108.380304
15   89.017664  100.697511  110.314717  100.009964
16   98.759411   98.554793  112.153905  103.156037
17  109.820016  104.203461  127.353990  113.792489
18  110.441644  102.415017  102.791498  105.216053
19   96.062281   99.979383  103.975076  100.005580
20  104.870794   89.290508   87.361098   93.840800

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [11]:
# seu código aqui

df["log_med"] = np.log(df["media"])

print(df)

            x1          x2          x3       media   log_med
1    92.942342  109.300773   99.733014  100.658710  4.611736
2    96.759260   91.889927  103.564747   97.404645  4.578874
3   123.944609   93.102163  110.529250  109.192007  4.693108
4   103.097141   99.789682   96.752095   99.879640  4.603966
5    92.564058   89.820197  115.140236   99.174830  4.596884
6   107.255630   98.028178   83.298596   96.194135  4.566368
7    91.146851  106.592845  104.839653  100.859783  4.613731
8   104.882981  112.606912  102.515043  106.668312  4.669724
9   114.139924  108.557182   91.340076  104.679061  4.650899
10   97.930496  118.775704   91.557557  102.754586  4.632343
11   68.893142  116.751942  103.785980   96.477021  4.569305
12  107.585965  128.538586   98.539604  111.554718  4.714515
13   80.092469   91.614187   88.703753   86.803469  4.463647
14  108.852085  112.371743  103.917085  108.380304  4.685646
15   89.017664  100.697511  110.314717  100.009964  4.605270
16   98.759411   98.554793  112.153905  103.156037  4.636243
17  109.820016  104.203461  127.353990  113.792489  4.734377
18  110.441644  102.415017  102.791498  105.216053  4.656016
19   96.062281   99.979383  103.975076  100.005580  4.605226
20  104.870794   89.290508   87.361098   93.840800  4.541600